.container {
  margin-block-start: var(--utrecht-space-block-lg) !important;
}

.container > *:not(:last-child) {
  margin-block-end: var(--utrecht-space-block-2xl);
}

@media only screen and (max-width: 992px) {
  /* Laptop */
  .container {
    margin-block-start: var(--utrecht-space-block-3xl);
  }

  .container > *:not(:last-child) {
    margin-block-end: var(--utrecht-space-block-lg);
  }
}
